.p10 {
  padding: 10px;
}

.mt10 {
  margin-top: 10px;
}

.btn-box {
  text-align: center;

  .red-btn {
    background: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    outline: none;
    font-size: 20px;
  }
}
