.info-box {
  max-width: 300px;

  .mr15 {
    margin-right: 15px;
  }

  .mr6 {
    margin-right: 6px;
  }

  button {
    display: block;
    margin-top: 15px;
  }

  .text {
    margin-top: 10px;
  }
}
