.container {
  max-width: 200px;
  margin: 20px auto;
  text-align: center;

  ul {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid black;

    li {
      list-style: none;
      margin-top: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  button {
    margin-top: 20px;
  }
}
